/* The naming convention for all the colours are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$a-foreground-color: #fff; 

$a-bar-link-color: #7cc4e7;
$a-body-link-color: #2489CE;

$a-btn-up-background-color: #333;
$a-btn-up-border-color: #222;
$a-btn-hover-background-color: #444;
$a-btn-hover-border-color: #000;
$a-btn-down-background-color: #444;
$a-btn-down-border-color: #000;

$a-border-color: #2A2A2A;
