/* The naming convention for all the theme elements are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$a-bar-background-color: #111;
$a-bar-border-color: #2A2A2A;
$a-bar-foreground-color: #fff;
$a-bar-link-color: #7cc4e7;
$a-bar-text-shadow-color: #000;

$a-body-background-color: #222;
$a-body-border-color: #2A2A2A;
$a-body-foreground-color: #fff; 
$a-body-link-color: #2489CE;
$a-body-text-shadow-color: #000;

$a-btn-up-background-color: #333;
$a-btn-up-border-color: #222;
$a-btn-up-foreground-color: #fff;
$a-btn-up-link-color: #fff;
$a-btn-up-text-shadow-color: #000;

$a-btn-hover-background-color: #444;
$a-btn-hover-border-color: #000;
$a-btn-hover-foreground-color: #fff;
$a-btn-hover-link-color: #fff;
$a-btn-hover-text-shadow-color: #000;

$a-btn-down-background-color: #444;
$a-btn-down-border-color: #000;
$a-btn-down-foreground-color: #fff;
$a-btn-down-link-color: #fff;
$a-btn-down-text-shadow-color: #000;


