/* The naming convention for all the theme elements are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$b-bar-background-color: #5e87b0;
$b-bar-foreground-color: #fff; 
$b-bar-border-color: #456f9a;
$b-bar-link-color: #7cc4e7;

$b-body-background-color: #ccc;
$b-body-foreground-color: #333;
$b-body-border-color: #C6C6C6;
$b-body-link-color: #2489CE;

$b-btn-up-background-color: #2567ab;
$b-btn-up-border-color: #145072;
$b-btn-up-foreground-color: #fff;
$b-btn-up-link-color: #fff;

$b-btn-hover-background-color: #5397d5;
$b-btn-hover-border-color: #397cbe;
$b-btn-hover-foreground-color: #fff;
$b-btn-hover-link-color: #fff;

$b-btn-down-background-color: #4e89c5;
$b-btn-down-border-color: #225377;
$b-btn-down-foreground-color: #fff;
$b-btn-down-link-color: #fff;