/* The naming convention for all the theme elements are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$c-bar-background-color: #e9eaeb;
$c-bar-border-color: #B3B3B3;
$c-bar-foreground-color: #3E3E3E; 
$c-bar-link-color: #7cc4e7;

$c-body-background-color: #f0f0f0;
$c-body-border-color: #B3B3B3;
$c-body-foreground-color: #333;
$c-body-link-color: #2489CE;

$c-btn-up-background-color: #eee;
$c-btn-up-border-color: #ccc;
$c-btn-up-foreground-color: #444;
$c-btn-up-link-color: #2F3E46;

$c-btn-hover-background-color: #f5f5f5;
$c-btn-hover-border-color: #aaa;
$c-btn-hover-foreground-color: #111;
$c-btn-hover-link-color: #2F3E46;

$c-btn-down-background-color: #fdfdfd;
$c-btn-down-border-color: gray;
$c-btn-down-foreground-color: #111;
$c-btn-down-link-color: #2F3E46;

