/* The naming convention for all the theme elements are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$e-bar-background-color: #fadb4e;
$e-bar-border-color: #F7C942;
$e-bar-foreground-color: #333; 
$e-bar-link-color: #2489CE;
$e-bar-text-shadow-color: #fff;

$e-body-background-color: #faeb9e;
$e-body-border-color: #F7C942;
$e-body-foreground-color: #333;
$e-body-link-color: #2489CE;
$e-body-text-shadow-color: #fff;

$e-btn-up-background-color: #fadb4e;
$e-btn-up-border-color: #F7C942;
$e-btn-up-foreground-color: #333;
$e-btn-up-link-color: #333;
$e-btn-up-text-shadow-color: #fff;

$e-btn-hover-background-color: #fbe26f;
$e-btn-hover-border-color: #e79952;
$e-btn-hover-foreground-color: #111;
$e-btn-hover-link-color: #333;
$e-btn-hover-text-shadow-color: #fff;

$e-btn-down-background-color: #fceda7;
$e-btn-down-border-color: #F7C942;
$e-btn-down-foreground-color: #111;
$e-btn-down-link-color: #333;
$e-btn-down-text-shadow-color: #fff;

// fonts
$e-font-family: $base-font-family;

.ui-bar-e{
	@include ui-bar-body($e-bar-border-color, $e-bar-background-color, $e-bar-foreground-color, 0 1px 0 $e-bar-text-shadow-color, #fceda7, #fadb4e);
}

.ui-bar-e,.ui-bar-e input,.ui-bar-e select,.ui-bar-e textarea,.ui-bar-d button{
	font-family: $e-font-family;
}

.ui-bar-e .ui-link-inherit{
	color: $e-bar-foreground-color;
}

.ui-bar-e .ui-link{
	color: $e-bar-link-color;
	font-weight: 700;
}

.ui-body-e{
	@include ui-bar-body($e-body-border-color, $e-body-background-color, $e-body-foreground-color, 0 1px 0 $e-body-text-shadow-color, #fff, #faeb9e);
}

.ui-body-e,.ui-body-e input,.ui-body-e select,.ui-body-e textarea,.ui-body-e button{
	font-family: $e-font-family;
}

.ui-body-e .ui-link-inherit{
	color: $e-body-foreground-color;
}

.ui-body-e .ui-link{
	color: $e-body-link-color;
	font-weight: 700;
}

.ui-btn-up-e{
	border: 1px solid $e-btn-up-border-color;
	background: $e-btn-up-background-color;
	font-weight: 700;
	color: $e-btn-up-foreground-color;
	cursor: pointer;
	text-decoration: none;
	text-shadow: 0 1px 0 $e-btn-up-text-shadow-color;
	background-image: 0;
	background-image: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fceda7', EndColorStr='#fadb4e')";
}

.ui-btn-up-e a.ui-link-inherit{
	color: $e-btn-up-link-color;
}

.ui-btn-hover-e{
	border: 1px solid $e-btn-hover-border-color;
	background: $e-btn-hover-background-color;
	font-weight: 700;
	color: $e-btn-hover-foreground-color;
	text-decoration: none;
	text-shadow: 0 1px 1px $e-btn-hover-text-shadow-color;
	background-image: 0;
	background-image: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcf0b5', EndColorStr='#fbe26f')";
}

.ui-btn-hover-e a.ui-link-inherit{
	color: $e-btn-hover-link-color;
}

.ui-btn-down-e{
	border: 1px solid $e-btn-down-border-color;
	background: $e-btn-down-background-color;
	font-weight: 700;
	color: $e-btn-down-foreground-color;
	text-shadow: 0 1px 1px $e-btn-down-text-shadow-color;
	background-image: 0;
	background-image: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fadb4e', EndColorStr='#fceda7')";
}

.ui-btn-down-e a.ui-link-inherit{
	color: $e-btn-down-link-color;
}

.ui-btn-up-e,.ui-btn-hover-e,.ui-btn-down-e{
	font-family: $e-font-family;
}