/* The naming convention for all the theme elements are taken directly from the 
	jQuery Mobile themes 
*/

// Colors
$e-bar-border-color: #fadb4e;
$e-bar-foreground-color: #333; 
$e-bar-link-color: #2489CE;

$e-body-border-color: #faeb9e;
$e-body-foreground-color: #333;
$e-body-link-color: #2489CE;

$e-btn-up-background-color: #fadb4e;
$e-btn-up-border-color: #F7C942;
$e-btn-up-foreground-color: #333;
$e-btn-up-link-color: #333;

$e-btn-hover-background-color: #fbe26f;
$e-btn-hover-border-color: #e79952;
$e-btn-hover-foreground-color: #111;
$e-btn-hover-link-color: #333;

$e-btn-down-background-color: #fceda7;
$e-btn-down-border-color: #F7C942;
$e-btn-down-foreground-color: #111;
$e-btn-down-link-color: #333;

