@mixin ui-bar($border-color, $background-color, $foreground-color, $text-shadow, $ms-filter-start-color, $ms-filter-end-color)
{
	border: 1px solid $border-color;
	background: $background-color;
	color: $foreground-color;
	font-weight: 700;
	text-shadow: $text-shadow;
	background-image: 0;
	background-image: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='" + $ms-filter-start-color + "', EndColorStr='" + $ms-filter-end-color + "')";
}