@mixin ui-bar($border-color, $background-color, $foreground-color, $text-shadow, $ms-filter-start-color, $ms-filter-end-color, $font-weight = nil)
{
	border: 1px solid $border-color;
	background: $background-color;
	color: $foreground-color;
	@if $font-weight != nil {
		font-weight: $font-weight;
	}
	text-shadow: $text-shadow;
	background-image: 0;
	background-image: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='" + $ms-filter-start-color + "', EndColorStr='" + $ms-filter-end-color + "')";
}