.ui-dialog {
  min-height: 480px;
  .ui-header, .ui-content, .ui-footer {
    max-width: 500px;
    margin: 10% auto 15px auto;
    width: 85%;
    position: relative; }
  .ui-header, .ui-footer {
    padding: 0 15px;
    z-index: 10; }
  .ui-content {
    padding: 15px;
    margin-top: -15px; }
  .ui-footer {
    margin-top: -15px; } }